# While loop

Ques-1
Write a Python program to take 5 integers from user using a while loop and print their average value.

In [ ]:
sum=0
count=0
while count <5:
      num=int(input("Enter the value "))
      sum+=num
      count+=1
if count>0:
  avg=sum/count
  print(avg)
else:
  print("correct value")

Enter the value 10
Enter the value 20
Enter the value 40
Enter the value 50
Enter the value 70
38.0

Ques-2

Find greatest common divisor (GCD) or highest common factor two given numbers

In [ ]:
def GCD(a,b):
  while b!=0:
    a,b=b, a%b
  return a

a=int(input("Enter the number 1 "))
b=int(input("Enter the number 2 "))

gcd=GCD(a,b)
print("The GCD of ", a, "and ", b,"is", gcd)

Enter the number 1 36
Enter the number 2 48
The GCD of  36 and  48 is 12

# Nested loop

Ques=3
write a program using nested loops to create a pattern of number in the shape of a right-agnled

In [ ]:
rows=int(input("Enter the row limit "))
for i in range (1,rows+1):
  for j in range (1,i+1):
    print(i, end=" ")
  print()

Enter the row limit 10
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9
10 10 10 10 10 10 10 10 10 10

Ques.4

Write a program using nested loops to create pattern of asterisks (*) in shape of righ-angled triangle

In [ ]:
rows=int(input("Enter the row limit "))
for i in range (1,rows+1):
  for j in range (1,i+1):
    print("*", end=" ")
  print()

Enter the row limit 2
*
* *

Ques-5

Write a python program to sort a given list of numbers in decending order.

In [ ]:
sorted((23,57,72,23,29))

[23, 23, 29, 57, 72]

Build in function


Ques-6

In [ ]:
name=input("Enter your name ")
print("Hello, ", name,"!" " Welcome to the program")

Enter your name Salam
Hello,  Salam ! Welcome to the program

Ques-7

Find the length of the strive and determine its data type

In [ ]:
text=input("Enter you text")
x=len(text)
y=type(text)
print("Length of the string ", x)
print("Data type of the strig: ",y)

Enter you textpython
Length of the string  6
Data type of the strig:  <class 'str'>

Ques-8

Convert the input to an integer, float, str

In [ ]:
x=input("Enter the number ")
y=int(x)
z=float(x)
a=str(x)
print("As integer ",y)
print("As float ",z)
print("As String ",a)

Enter the number 42
As integer  42
As float  42.0
As String  42

Ques-9

Use range() to create sequence of numbers

convert sequence to list

In [ ]:
x=range(1,6)
l1=list(x)
t1=tuple(x)
s=set(x)

print("As list ",l1)
print("As Tuple ", t1)
print("As Set ", s)

As list  [1, 2, 3, 4, 5]
As Tuple  (1, 2, 3, 4, 5)
As Set  {1, 2, 3, 4, 5}

Ques-10

Write a python program to calculate the sum of the elements in a given list

In [ ]:
def sum_list(lst):
  sum=0
  for num in lst:
    sum+=num
  return sum

l1=[23,5,2,6,1]
Sum=sum_list(l1)
print(Sum)

37

Ques-11

Write a python program to find the absolute value of given number

In [ ]:
x=-10
y=abs(x)
print(y)

10

Ques-12

Write a python program to round of a floating point number

In [ ]:
x=3.14159
y=round(x)
print(y)

3

Ques-13

Write a python program to find the minimum and maximum values in a given list.

In [6]:
l1=[23,5,20,6,10]
x=min(l1)
y=max(l1)
print("The Minumum value is ",x)
print("The Maximum Value is ", y)

The Minumum value is  5
The Maximum Value is  23

Ques-14

Write a python program to sort a given list of numbers in a ascending order

In [7]:
l1=[23,5,2,6,1]
x=sorted(l1)
print("Sorted List ", x)

Sorted List  [1, 2, 5, 6, 23]