# Python Sets

Set is a data type in python used to store several items in a single variable. It is a collection thatis written with curly brackets and is both unindexed and unordered.

uestion 1:
Create a Python set named fruits with the elements 'apple', 'banana', and 'orange'.

Hints:
Use curly braces {} to define a set.

Example: fruits = {'apple', 'mango', }.

Algorithm:
Define a set named fruits with elements 'apple', 'banana', and 'orange'.
Display the set.

Sample Output:
Fruits set: {'apple', 'banana', 'orange'}

In [ ]:
fruits={'apple','banana','orange'}
print(fruits)

{'orange', 'banana', 'apple'}

Question 2:
Add a new fruit, 'grape', to the existing fruits set.

Hints:
Use the add method to add an element to a set.

Example: fruits.add('pineapple').

Algorithm:
Use the add method to add 'grape' to the fruits set.
Display the updated set.

Sample Output:
Updated Fruits set: {'apple', 'banana', 'orange', 'grape'}

In [ ]:
fruits.add("grape")
print(fruits)

{'grape', 'orange', 'banana', 'apple'}

Question 3:
Remove 'banana' from the fruits set.

Hints:
Use the remove method to remove a specific element.

Example: fruits.remove('kiwi').

Algorithm:
Use the remove method to remove 'banana' from the fruits set.
Display the updated set.

Sample Output:
Updated Fruits set: {'apple', 'orange', 'grape'}

In [ ]:
fruits.remove("banana")
print(fruits)

{'grape', 'orange', 'apple'}

Question 4:
Create a new set named colors with the elements 'red', 'green', and 'blue'.

Hints:
Use curly braces {} to define a set.

Example: colors = {'red', 'black'}.

Algorithm:
Define a set named colors with elements 'red', 'green', and 'blue'.
Display the set.

Sample Output:
Colors set: {'red', 'green', 'blue'}

In [ ]:
colors={'red','green', 'blue'}
print(colors)

{'green', 'red', 'blue'}

Question 5:
Use the union method to combine the fruits and colors sets into a single set.

Hints:
Use the union method to combine sets.

Example: combined_set = set1.union(set2).

Algorithm:
Use the union method to combine the fruits and colors sets.
Display the combined set.

Sample Output:
Combined set: {'apple', 'orange', 'grape', 'red', 'green', 'blue'}

In [ ]:
fruits.union(colors)

{'apple', 'blue', 'grape', 'green', 'orange', 'red'}

Question 6:
Use the difference method to find the elements that are unique to the fruits set.

Hints:
Use the difference method to find unique elements.

Example: unique_elements = set1.difference(set2).

Algorithm:
Use the difference method to find the elements that are unique to the fruits set.
Display the unique elements.

Sample Output:
Unique elements in Fruits set: {'grape', 'apple', 'orange'}

In [ ]:
fruits.difference(colors)

{'apple', 'grape', 'orange'}

Question 7:
Check if the colors set is a subset of the fruits set.

Hints:
Use the issubset method to check if a set is a subset of another.

Example: is_subset = set1.issubset(set2).

Algorithm:
Use the issubset method to check if the colors set is a subset of the fruits set.
Display the result.

Sample Output:
Colors set is not a subset of Fruits set.

In [ ]:
fruits.issubset(colors)

False

# Dictionary Methods

Python dictionary methods is collection of Python functions that operates on Dictionary. PythonDictionary is like a map that is used to store data in the form of a key: value pair.

Question 8:
Create a Python dictionary named student with keys 'name', 'age', and 'grade' and correspondingvalues 'Alice', 15, and 'A'.

Hints:
Use curly braces {} to define a dictionary.

Example: student = {'name': 'Alice', 'age': 15}.

Algorithm:Define a dictionary named student with keys 'name', 'age', and 'grade' and corresponding values.
Display the dictionary.

Sample Output:
Student dictionary: {'name': 'Alice', 'age': 15, 'grade': 'A'}

In [ ]:
student={"name":"Alice","age":15,"grade":"A"}
print(student)

{'name': 'Alice', 'age': 15, 'grade': 'A'}

Question 9:
Access the 'age' value from the student dictionary and display it.

Hints:
Use square brackets [] for key access.
Example: Name = student['name'].

Algorithm:
Declare as age_value.
Access the 'age' value from the student dictionary.

Display the result.

Sample Output:
Age: 15

In [ ]:
Name=student["name"]
print(Name)

Alice

Question 10:
Update the 'grade' value in the student dictionary to 'B'.

Hints:
Use square brackets [] for key access.

Example: student['name'] = 'John'.

Algorithm:
Update the 'grade' value in the student dictionary to 'B'.
Display the updated dictionary.

Sample Output:
Updated Student dictionary: {'name': 'Alice', 'age': 15, 'grade': 'B'}

In [ ]:
student["grade"]="B"
print(student)

{'name': 'Alice', 'age': 15, 'grade': 'B'}

# Dictionary Methods

Python dictionary methods is collection of Python functions that operates on Dictionary. Python Dictionary is like a map that is used to store data in the form of a key: value pair.

Question 11:
Use the keys method to get the list of keys from the student dictionary.

Hints:
Use the keys method to retrieve keys.

Example: value_list = dictionary.values().

Algorithm:
Use the keys method to get the list of keys from the student dictionary.
Display the list of keys.

Sample Output:
List of keys: ['name', 'age', 'grade']

In [ ]:
student_list=student.keys()
print(student_list)

dict_keys(['name', 'age', 'grade'])

Question 12:
Use the values method to get the list of values from the student dictionary.

Hints:
Use the values method to retrieve values.

Algorithm:
Use the values method to get the list of values from the student dictionary.
Display the list of values.

Sample Output:
List of values: ['Alice', 15, 'B']

In [ ]:
student_list=student.values()
print(student_list)

dict_values(['Alice', 15, 'A'])

Question 13:
Use the items method to get the list of key-value pairs from the student dictionary.

Hints:
Use the items method to retrieve key-value pairs.

Example: item_list = dictionary.items().

Algorithm:
Use the items method to get the list of key-value pairs from the student dictionary.
Display the list of key-value pairs.

Sample Output:
List of items: [('name', 'Alice'), ('age', 15), ('grade', 'B')]

In [ ]:
student_list=student.items()
print(student_list)

dict_items([('name', 'Alice'), ('age', 15), ('grade', 'A')])

Question 14:
Check if the key 'grade' is present in the student dictionary.

Hints:
Use the in keyword for key presence check.

Example: if 'name' in dictionary:.

Algorithm:
Check if the key 'grade' is present in the student dictionary using the in keyword.
Display the result.

Sample Output:
'grade' is present in the dictionary.

In [ ]:
if "grade" in student:
  print("Yes, grade in studnet")

Yes, grade in studnet

# Class learning practice :

**Adding** Values to the Dictionary

```
# This is formatted as code
```

In [ ]:
student["Year"]="First"
print(student)

{'name': 'Alice', 'age': 15, 'grade': 'A', 'Year': 'First'}

pop()

In [ ]:
student.pop("Year")
print(student)

{'name': 'Alice', 'age': 15, 'grade': 'A'}

update()

In [ ]:
student.update({"year":"Second"})
print(student)

{'name': 'Alice', 'age': 15, 'grade': 'A', 'year': 'Second'}

items()

In [ ]:
student.items()

dict_items([('name', 'Alice'), ('age', 15), ('grade', 'A'), ('year', 'Second')])

get()

In [ ]:
x=student.get("year")
print(x)

Second

# Sets fuctions

In [ ]:
bikes={"TVS 50", "Splender","Passion"}

In [ ]:
bikes.add("Mastero")
print(bikes)

TypeError: 'set' object is not callable

In [ ]:
fruits={"banana", "mango", "apple"}
x=fruits.copy()
print(x)
x.add("Kivi")
pritn(x)
print(fruits)

TypeError: 'set' object is not callable

In [ ]:
x={1,2,3,4,5}
y=(3,4,5,6,7)
x.difference_update(y)

print(x)

TypeError: 'set' object is not callable